<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid d-flex justify-content-around">
            <a class="pe-auto" target="_blank" href="https://www.linkedin.com/in/limalucasdev">
        <span class="fa-brands fa-linkedin"  style="color:white;" aria-hidden="true">
            </span>
            </a>
        @if (!@IconMenuActive)
        {
            <a class="navbar-brand" href="">Blazor Dashboard</a>
        }
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex justify-content-around" href="" Match="NavLinkMatch.All">
                <span class="fa-solid fa-shapes" aria-hidden="true"></span>
                @if (!IconMenuActive)
                {
                    <label class="ps-2">Overview</label>
                }
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex justify-content-around" href="counter">
                <span class="fa-solid fa-chart-line" aria-hidden="true"></span>
                @if (!IconMenuActive)
                {
                    <label class="ps-2">Growth</label>
                }
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex justify-content-around" href="fetchdata">
                <span class="fa-solid fa-people-group" aria-hidden="true"></span>
                @if (!IconMenuActive)
                {
                    <label class="ps-2">Customers</label>
                }
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex justify-content-around" href="fetchdata">
                <span class="fa-solid fa-file" aria-hidden="true"></span>
                @if (!IconMenuActive)
                {
                    <label class="ps-2">Reports</label>
                }
            </NavLink>
        </div>
        <br><br>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex justify-content-around" href="fetchdata">
                <span class="fa-light fa-question" aria-hidden="true"></span>
                @if (!IconMenuActive)
                {
                    <label class="ps-2">Support</label>
                }
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex justify-content-around pe-auto" href="fetchdata">
                <span class="fa-solid fa-sliders" aria-hidden="true"></span>
                @if (!IconMenuActive)
                {
                    <label class="ps-2">Settings</label>
                }
            </NavLink>
        </div>
        <br><br><br><br>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex justify-content-around pe-auto">
                @if (!IconMenuActive)
                {
                    <span class="fa-solid fa-right-from-bracket pe-auto" aria-hidden="true" style="color: white;" @onclick="ToggleIconMenu"></span>
                    <label class="text-light pe-auto ps-2" @onclick="ToggleIconMenu">Log Out</label>
                }
                else
                {
                    <span class="fa-solid fa-right-from-bracket" style="color: white;" @onclick="ToggleIconMenu"></span>
                }
            </NavLink>
        </div>
    </nav>
</div>



@code {
    //bool to send to MainLayout for shrinking sidebar and showing/hide menu text
    private bool IconMenuActive { get; set; } = false;

    //EventCallback for sending bool to MainLayout
    [Parameter]
    public EventCallback<bool> ShowIconMenu { get; set; }

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    //Method to toggle IconMenuActive bool and send bool via EventCallback
    private async Task ToggleIconMenu()
    {
        IconMenuActive = !IconMenuActive;
        await ShowIconMenu.InvokeAsync(IconMenuActive);
    }
}